body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: #292929;
}

.wrapper {
    perspective: 10000px;
    width: 90%;
    box-sizing: border-box;
    margin: 30px auto;
    
}

.wrapper:before {
    content:"";
    display: block;
    padding-top: 61%; /* 高さを幅の75%に固定 */
}

.card {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform-style: preserve-3d;
/*    background: white;*/
    border-radius: 15px;
    
}

.card_front {
    width: 100%;
    height: 100%;
    padding: 2.5%;
    border-radius: 15px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 0 8px black;
    font-size: 3vw;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    background: white;


    backface-visibility: hidden;
    overflow: hidden;

}



.card_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5%;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 8px black;
    font-size: 3vw;
    text-align: left;
    transform: rotateY(180deg);
    background: white;
    backface-visibility: hidden;
    font-size: 1vw;
/*    transform: scale(0.5);*/
}

.card_back img {
    width: 30%;
    height: 50px;
    margin: 10px auto;
}

.card:active {
    transform: rotateY(180deg);
}

.card_left {
    width: 52.5%;
}

.card_right {
    width: 47.5%;
}

/*
.none {
    display: none;
}
*/

.card img {
    width: 100%;
}

.info {
    margin: 1.6em 1em 0;
}

.phonetic {
    font-size: 0.7em;
}

.min {
    font-size: 0.55em;
}

.margin0 {
    margin: 0;
}

.notice {
    width: 90%;
    margin: 10px auto;
}

.card_back h1 {
    font-size: 3vw;
    text-align: center;
}

.card_info {
    background: white;
    width: 95%;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    padding-bottom: 10px;
}

.card_info:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 20%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid white;
}

.balance {
    border-bottom: 1px solid #3b3f74;
    width: 95%;
    height: 60px;
    margin: 0 auto;
}

.balance p{
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    line-height: 60px;
}

.charge_form {
    margin: 10px;
}